/* Globals */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1 rem = 10px */
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    background-image: url(../images/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

input[readonly]:focus {
    outline: none;
}

footer {
    font-size: 1.6rem;
    text-align: justify;
    color: rgba(69, 143, 110, 90%);
    background-color: rgba(255, 139, 83, 0.6);
    border-radius: .5rem;
    margin: .5rem;
    padding: .2rem .4rem;
}

/* Classes*/
.container {
    display: flex;
    flex-direction: column;
    background-color: rgba(224, 37, 11, 0.6);
    box-shadow: 10px 10px 30px 1px rgba(224, 37, 11, 0.6);
    height: 60rem;
    width: 40rem;
    border-radius: 1rem;
}

.displays {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 1rem;
    margin: .5rem;
}

.mini-display {
    display: flex;
    justify-content: right;
    font-size: 2rem;
    height: 30%;
    background-color: rgba(212, 232, 219, 0.5);
    padding: .7rem .5rem 0;
    border: none;
    border-radius: 1rem 1rem 0 0;
    color: rgba(192, 40, 128, 0.9);
}

.display {
    display: flex;
    background-color: rgba(212, 232, 219, 0.5);
    color: rgba(138, 19, 88, 0.9);
    text-align: right;
    padding: .5rem;
    font-size: 5rem;
    height: 70%;
    border: none;
    border-radius: 0 0 1rem 1rem;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex: 4;
    padding: .3rem;
    background-color: rgba(255, 139, 83, 0.6);
    margin: 0 .3rem .3rem;
    border-radius: 1rem;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.6rem;
    width: 8.5rem;
    height: 8.5rem;
    padding: 0;
    border: none;
    border-radius: 1rem;
    background-color: rgba(0, 125, 196, 0.6);
    color: rgba(7, 78, 46, 0.9);
}

.key-animation {
    transform: scale(1.1);
}

.biggerKey {
    width: 18.3rem;
}

.clear,
.delete {
    font-size: 2.8rem;
}